.vb-header-hero {
  padding-bottom: $global-large-margin;
  position: relative;

  &::before {
    background-color: rgba(0, 0, 0, .5);
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.vb-header-cart {
  //border-bottom: 1px solid $global-border;
}

.vb-header-hero__title {
  //Half nax container width
  max-width: 696px;
}
