<div class="uk-section uk-background-default {{#ifpage 'product' 'product-new'}}uk-visible@s{{/ifpage}}">
    <div class="uk-container">
        <div class="uk-flex-center" data-uk-grid>
            <div class="uk-text-center uk-width-1-6@s uk-width-1-2">
                <img data-src="assets/img/uploads/varsity-badge-2.svg"
                     alt="Free shipping worldwide"
                     width="120"
                     data-uk-img>
            </div>
            <div class="uk-text-center uk-width-1-6@s uk-width-1-2">
                <img data-src="assets/img/uploads/varsity-badge-3.svg"
                     alt="TOP quality"
                     width="120"
                     data-uk-img>
            </div>
            <div class="uk-text-center uk-width-1-6@s uk-width-1-2">
                <img data-src="assets/img/uploads/varsity-badge-4.svg"
                     alt="Outstanding Customer Service"
                     width="120"
                     data-uk-img>
            </div>
            <div class="uk-text-center uk-width-1-6@s uk-width-1-2">
                <img data-src="assets/img/uploads/varsity-badge-5.svg"
                     alt="Raving reviews"
                     width="120"
                     data-uk-img>
            </div>
        </div>
    </div>
</div>
