<div data-uk-slider>
    <ul class="uk-slider-items uk-child-width-1-1 uk-child-width-1-2@s uk-child-width-1-5@m uk-grid">
        <li class="uk-active">
            <div class="uk-grid-small uk-flex-center uk-flex-left@s uk-grid"
                 data-uk-grid>
                <div class="uk-first-column">
                    <img src="assets/img/uploads/Premium.svg"
                         height="50"
                         width="50"
                         data-uk-svg
                         alt="Premium quality">
                </div>
                <div class="uk-text-center uk-text-left@s uk-width-expand@s">
                    <strong class="uk-h5 uk-margin-small-bottom uk-display-block">Premium quality</strong>
                    <div class="uk-text-meta">Only the best varsity and letterman jackets!</div>
                </div>
            </div>
        </li>
        <li class="uk-active">
            <div class="uk-grid-small uk-flex-center uk-flex-left@s uk-grid"
                 data-uk-grid>
                <div class="uk-first-column">
                    <img src="assets/img/uploads/Service.svg"
                         height="50"
                         width="50"
                         data-uk-svg
                         alt="Exceptional service">
                </div>
                <div class="uk-text-center uk-text-left@s uk-width-expand@s">
                    <strong class="uk-h5 uk-margin-small-bottom uk-display-block">Exceptional service</strong>
                    <div class="uk-text-meta">We love helping our customers!</div>
                </div>
            </div>
        </li>
        <li class="uk-active">
            <div class="uk-grid-small uk-flex-center uk-flex-left@s uk-grid"
                 data-uk-grid>
                <div class="uk-first-column">
                    <img src="assets/img/uploads/Shipping.svg"
                         height="50"
                         width="50"
                         data-uk-svg
                         alt="FREE shipping">
                </div>
                <div class="uk-text-center uk-text-left@s uk-width-expand@s">
                    <strong class="uk-h5 uk-margin-small-bottom uk-display-block">FREE shipping</strong>
                    <div class="uk-text-meta">Every order qualifies for free shipping and returns!</div>
                </div>
            </div>
        </li>
        <li class="uk-active">
            <div class="uk-grid-small uk-flex-center uk-flex-left@s uk-grid"
                 data-uk-grid>
                <div class="uk-first-column">
                    <img src="assets/img/uploads/Group.svg"
                         height="50"
                         width="50"
                         data-uk-svg
                         alt="Group discounts">
                </div>
                <div class="uk-text-center uk-text-left@s uk-width-expand@s">
                    <strong class="uk-h5 uk-margin-small-bottom uk-display-block">Group discounts</strong>
                    <div class="uk-text-meta">Custom team or club jackets available!</div>
                </div>
            </div>
        </li>
        <li class="uk-active">
            <div class="uk-grid-small uk-flex-center uk-flex-left@s uk-grid"
                 data-uk-grid>
                <div class="uk-first-column">
                    <img src="assets/img/uploads/Business.svg"
                         height="50"
                         width="50"
                         data-uk-svg
                         alt="Best in Business">
                </div>
                <div class="uk-text-center uk-text-left@s uk-width-expand@s">
                    <strong class="uk-h5 uk-margin-small-bottom uk-display-block">Best in Business</strong>
                    <div class="uk-text-meta">Our customers get the best service possible!</div>
                </div>
            </div>
        </li>
    </ul>
    <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin-medium-top uk-hidden"></ul>
</div>
