<ul class="uk-nav uk-nav-default uk-text-bold">
    <li {{#ifpage 'about'}}class="uk-active"{{/ifpage}}>
        <a class="uk-link-muted" href="about.html">Our Story</a>
    </li>
    <li {{#ifpage 'custom-jackets'}}class="uk-active"{{/ifpage}}>
        <a class="uk-link-muted" href="custom-jackets.html">Custom Jackets</a>
    </li>
    <li {{#ifpage 'school-jackets'}}class="uk-active"{{/ifpage}}>
        <a class="uk-link-muted" href="school-jackets.html">School Jackets</a>
    </li>
    <li {{#ifpage 'club-jackets-new'}}class="uk-active"{{/ifpage}}>
        <a class="uk-link-muted" href="club-jackets-new.html">Club Jackets</a>
    </li>
    <li {{#ifpage 'faq'}}class="uk-active"{{/ifpage}}>
        <a class="uk-link-muted" href="faq.html">Frequently Asked Questions</a>
    </li>
    <li {{#ifpage 'returns-and-exchanges'}}class="uk-active"{{/ifpage}}>
        <a class="uk-link-muted" href="returns-and-exchanges.html">Returns & Exchanges</a>
    </li>
    <li {{#ifpage 'terms-and-conditions'}}class="uk-active"{{/ifpage}}>
        <a class="uk-link-muted" href="terms-and-conditions.html">Terms & Conditions</a>
    </li>
    <li {{#ifpage 'privacy-policy'}}class="uk-active"{{/ifpage}}>
        <a class="uk-link-muted" href="privacy-policy.html">Privacy Policy</a>
    </li>
</ul>
