<div class="uk-modal-container"
     id="sizeChart"
     data-uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <button class="uk-modal-close-default"
                type="button"
                data-uk-close></button>
        <strong class="uk-h4 uk-display-block">Body Measurements</strong>
        <p>These are the measurements of your body(not the jacket). To measure your arm length correctly, stand up straight with your arms down at your side and measure from the middle of the back of your neck to where your wrist meets your hands. The sizes we recommend are only suggestions. We are not responsible if you order an incorrect size. If you are unsure of your size please write to us first.</p>

        <!--Men jackets only-->
        <img hidden
             class=""
             data-src="assets/img/uploads/Body-Measurements.jpg"
             width="950"
             alt="Size Chart"
             data-uk-img>

        <!--Women jackets only-->
        <img class=""
             data-src="assets/img/uploads/size-chart--women-min.jpeg"
             width="950"
             alt="Size Chart"
             data-uk-img>


        <div class="uk-margin-medium-top">
            <ul class="uk-child-width-expand@l"
                data-uk-switcher
                data-uk-tab>
                <li class="uk-active"><a href="#">Your measurements in Inches</a></li>
                <li><a href="#">Your measurements in Centimeters</a></li>
            </ul>

            <ul class="uk-switcher uk-margin">
                <li>
                    <div class="uk-overflow-auto uk-background-muted uk-padding-small uk-margin-top">

                        <!--Men jackets only-->
                        <table hidden
                               class="uk-table uk-table-small uk-table-divider">
                            <thead>
                            <tr>
                                <th></th>
                                <th class="uk-text-center">
                                    <strong class="uk-h5 uk-text-muted">XXS</strong>
                                </th>
                                <th class="uk-text-center">
                                    <strong class="uk-h5 uk-text-muted">XS</strong>
                                </th>
                                <th class="uk-text-center">
                                    <strong class="uk-h5 uk-text-muted">S</strong>
                                </th>
                                <th class="uk-text-center">
                                    <strong class="uk-h5 uk-text-muted">M</strong>
                                </th>
                                <th class="uk-text-center">
                                    <strong class="uk-h5 uk-text-muted">L</strong>
                                </th>
                                <th class="uk-text-center">
                                    <strong class="uk-h5 uk-text-muted">XL</strong>
                                </th>
                                <th class="uk-text-center">
                                    <strong class="uk-h5 uk-text-muted">2XL</strong>
                                </th>
                                <th class="uk-text-center">
                                    <strong class="uk-h5 uk-text-muted">3XL</strong>
                                </th>
                                <th class="uk-text-center">
                                    <strong class="uk-h5 uk-text-muted">4XL</strong>
                                </th>
                                <th class="uk-text-center">
                                    <strong class="uk-h5 uk-text-muted">5XL</strong>
                                </th>
                                <th class="uk-text-center">
                                    <strong class="uk-h5 uk-text-muted">6XL</strong>
                                </th>
                            </tr>
                            </thead>
                            <tbody class="uk-text-small">
                            <tr>
                                <td>
                                    <span class="uk-text-muted">1. Chest</span>
                                </td>
                                <td class="uk-text-center">
                                    28-30
                                </td>
                                <td class="uk-text-center">
                                    30-32
                                </td>
                                <td class="uk-text-center">
                                    34-36
                                </td>
                                <td class="uk-text-center">
                                    38
                                </td>
                                <td class="uk-text-center">
                                    40-42
                                </td>
                                <td class="uk-text-center">
                                    44-46
                                </td>
                                <td class="uk-text-center">
                                    48-50
                                </td>
                                <td class="uk-text-center">
                                    52-54
                                </td>
                                <td class="uk-text-center">
                                    56-58
                                </td>
                                <td class="uk-text-center">
                                    60-62
                                </td>
                                <td class="uk-text-center">
                                    64-66
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="uk-text-muted">2. Waist</span>
                                </td>
                                <td class="uk-text-center">
                                    20-22
                                </td>
                                <td class="uk-text-center">
                                    24-26
                                </td>
                                <td class="uk-text-center">
                                    28-30
                                </td>
                                <td class="uk-text-center">
                                    32
                                </td>
                                <td class="uk-text-center">
                                    34-36
                                </td>
                                <td class="uk-text-center">
                                    38-40
                                </td>
                                <td class="uk-text-center">
                                    42-44
                                </td>
                                <td class="uk-text-center">
                                    46-48
                                </td>
                                <td class="uk-text-center">
                                    50-52
                                </td>
                                <td class="uk-text-center">
                                    54-56
                                </td>
                                <td class="uk-text-center">
                                    58-60
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="uk-text-muted">3. Sleeve</span>
                                </td>
                                <td class="uk-text-center">
                                    28-29
                                </td>
                                <td class="uk-text-center">
                                    30-31
                                </td>
                                <td class="uk-text-center">
                                    31-32
                                </td>
                                <td class="uk-text-center">
                                    32-33
                                </td>
                                <td class="uk-text-center">
                                    33-34
                                </td>
                                <td class="uk-text-center">
                                    34-35
                                </td>
                                <td class="uk-text-center">
                                    35-36
                                </td>
                                <td class="uk-text-center">
                                    36-37
                                </td>
                                <td class="uk-text-center">
                                    37-38
                                </td>
                                <td class="uk-text-center">
                                    38-39
                                </td>
                                <td class="uk-text-center">
                                    39-40
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <!--Women jackets only-->
                        <table class="uk-table uk-table-small uk-table-divider">
                            <thead>
                            <tr>
                                <th></th>
                                <th class="uk-text-center">
                                    <strong class="uk-h5 uk-text-muted">XS</strong>
                                </th>
                                <th class="uk-text-center">
                                    <strong class="uk-h5 uk-text-muted">S</strong>
                                </th>
                                <th class="uk-text-center">
                                    <strong class="uk-h5 uk-text-muted">M</strong>
                                </th>
                                <th class="uk-text-center">
                                    <strong class="uk-h5 uk-text-muted">L</strong>
                                </th>
                                <th class="uk-text-center">
                                    <strong class="uk-h5 uk-text-muted">XL</strong>
                                </th>
                                <th class="uk-text-center">
                                    <strong class="uk-h5 uk-text-muted">2XL</strong>
                                </th>
                                <th class="uk-text-center">
                                    <strong class="uk-h5 uk-text-muted">3XL</strong>
                                </th>
                                <th class="uk-text-center">
                                    <strong class="uk-h5 uk-text-muted">4XL</strong>
                                </th>
                                <th class="uk-text-center">
                                    <strong class="uk-h5 uk-text-muted">5XL</strong>
                                </th>
                                <th class="uk-text-center">
                                    <strong class="uk-h5 uk-text-muted">6XL</strong>
                                </th>
                            </tr>
                            </thead>
                            <tbody class="uk-text-small">
                            <tr>
                                <td>
                                    <span class="uk-text-muted">1. Chest</span>
                                </td>
                                <td class="uk-text-center">
                                    28-30
                                </td>
                                <td class="uk-text-center">
                                    30-32
                                </td>
                                <td class="uk-text-center">
                                    34-36
                                </td>
                                <td class="uk-text-center">
                                    38
                                </td>
                                <td class="uk-text-center">
                                    40-42
                                </td>
                                <td class="uk-text-center">
                                    44-46
                                </td>
                                <td class="uk-text-center">
                                    48-50
                                </td>
                                <td class="uk-text-center">
                                    52-54
                                </td>
                                <td class="uk-text-center">
                                    56-58
                                </td>
                                <td class="uk-text-center">
                                    60-62
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="uk-text-muted">2. Waist</span>
                                </td>
                                <td class="uk-text-center">
                                    20-22
                                </td>
                                <td class="uk-text-center">
                                    24-26
                                </td>
                                <td class="uk-text-center">
                                    28-30
                                </td>
                                <td class="uk-text-center">
                                    32
                                </td>
                                <td class="uk-text-center">
                                    34-36
                                </td>
                                <td class="uk-text-center">
                                    38-40
                                </td>
                                <td class="uk-text-center">
                                    42-44
                                </td>
                                <td class="uk-text-center">
                                    46-48
                                </td>
                                <td class="uk-text-center">
                                    50-52
                                </td>
                                <td class="uk-text-center">
                                    54-56
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="uk-text-muted">3. Sleeve</span>
                                </td>
                                <td class="uk-text-center">
                                    28-29
                                </td>
                                <td class="uk-text-center">
                                    30-31
                                </td>
                                <td class="uk-text-center">
                                    31-32
                                </td>
                                <td class="uk-text-center">
                                    32-33
                                </td>
                                <td class="uk-text-center">
                                    33-34
                                </td>
                                <td class="uk-text-center">
                                    34-35
                                </td>
                                <td class="uk-text-center">
                                    35-36
                                </td>
                                <td class="uk-text-center">
                                    36-37
                                </td>
                                <td class="uk-text-center">
                                    37-38
                                </td>
                                <td class="uk-text-center">
                                    38-39
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <p class="uk-text-center">
                        <strong class="uk-text-uppercase">Male example:</strong> If you ARE 6’ TALL (183 CM), weigh 175 lbs(80kg), chest 40’(101cm), waist 33’(84cm) we suggest size LARGE
                        <br>
                        <strong class="uk-text-uppercase">Female example:</strong> If you ARE 5.4’ TALL (162 CM), weigh 105 lbs(48kg), chest 33’(83cm), waist 26’(66cm) we suggest size XS
                    </p>
                </li>
                <li>
                    <div class="uk-overflow-auto uk-background-muted uk-padding-small uk-margin-top">

                        <!--Men jackets only-->
                        <table hidden class="uk-table uk-table-small uk-table-divider">
                            <thead>
                            <tr>
                                <th></th>
                                <th class="uk-text-center">
                                    <strong class="uk-h5 uk-text-muted">XXS</strong>
                                </th>
                                <th class="uk-text-center">
                                    <strong class="uk-h5 uk-text-muted">XS</strong>
                                </th>
                                <th class="uk-text-center">
                                    <strong class="uk-h5 uk-text-muted">S</strong>
                                </th>
                                <th class="uk-text-center">
                                    <strong class="uk-h5 uk-text-muted">M</strong>
                                </th>
                                <th class="uk-text-center">
                                    <strong class="uk-h5 uk-text-muted">L</strong>
                                </th>
                                <th class="uk-text-center">
                                    <strong class="uk-h5 uk-text-muted">XL</strong>
                                </th>
                                <th class="uk-text-center">
                                    <strong class="uk-h5 uk-text-muted">2XL</strong>
                                </th>
                                <th class="uk-text-center">
                                    <strong class="uk-h5 uk-text-muted">3XL</strong>
                                </th>
                                <th class="uk-text-center">
                                    <strong class="uk-h5 uk-text-muted">4XL</strong>
                                </th>
                                <th class="uk-text-center">
                                    <strong class="uk-h5 uk-text-muted">5XL</strong>
                                </th>
                                <th class="uk-text-center">
                                    <strong class="uk-h5 uk-text-muted">6XL</strong>
                                </th>
                            </tr>
                            </thead>
                            <tbody class="uk-text-small">
                            <tr>
                                <td>
                                    <span class="uk-text-muted">1. Chest</span>
                                </td>
                                <td class="uk-text-center">
                                    71-76
                                </td>
                                <td class="uk-text-center">
                                    76-81
                                </td>
                                <td class="uk-text-center">
                                    86-91
                                </td>
                                <td class="uk-text-center">
                                    95
                                </td>
                                <td class="uk-text-center">
                                    101-116
                                </td>
                                <td class="uk-text-center">
                                    111-116
                                </td>
                                <td class="uk-text-center">
                                    122-127
                                </td>
                                <td class="uk-text-center">
                                    132-137
                                </td>
                                <td class="uk-text-center">
                                    142-147
                                </td>
                                <td class="uk-text-center">
                                    152-157
                                </td>
                                <td class="uk-text-center">
                                    162-167
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="uk-text-muted">2. Waist</span>
                                </td>
                                <td class="uk-text-center">
                                    51-56
                                </td>
                                <td class="uk-text-center">
                                    61-66
                                </td>
                                <td class="uk-text-center">
                                    71-76
                                </td>
                                <td class="uk-text-center">
                                    81
                                </td>
                                <td class="uk-text-center">
                                    85-91
                                </td>
                                <td class="uk-text-center">
                                    96-101
                                </td>
                                <td class="uk-text-center">
                                    106-111
                                </td>
                                <td class="uk-text-center">
                                    116-122
                                </td>
                                <td class="uk-text-center">
                                    127-132
                                </td>
                                <td class="uk-text-center">
                                    137-142
                                </td>
                                <td class="uk-text-center">
                                    147-152
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="uk-text-muted">3. Sleeve</span>
                                </td>
                                <td class="uk-text-center">
                                    71-73
                                </td>
                                <td class="uk-text-center">
                                    76-78
                                </td>
                                <td class="uk-text-center">
                                    79-81
                                </td>
                                <td class="uk-text-center">
                                    81
                                </td>
                                <td class="uk-text-center">
                                    84-86
                                </td>
                                <td class="uk-text-center">
                                    86-89
                                </td>
                                <td class="uk-text-center">
                                    89-91
                                </td>
                                <td class="uk-text-center">
                                    91-94
                                </td>
                                <td class="uk-text-center">
                                    94-96
                                </td>
                                <td class="uk-text-center">
                                    96-99
                                </td>
                                <td class="uk-text-center">
                                    99-101
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <!--Women jackets only-->
                        <table class="uk-table uk-table-small uk-table-divider">
                            <thead>
                            <tr>
                                <th></th>
                                <th class="uk-text-center">
                                    <strong class="uk-h5 uk-text-muted">XS</strong>
                                </th>
                                <th class="uk-text-center">
                                    <strong class="uk-h5 uk-text-muted">S</strong>
                                </th>
                                <th class="uk-text-center">
                                    <strong class="uk-h5 uk-text-muted">M</strong>
                                </th>
                                <th class="uk-text-center">
                                    <strong class="uk-h5 uk-text-muted">L</strong>
                                </th>
                                <th class="uk-text-center">
                                    <strong class="uk-h5 uk-text-muted">XL</strong>
                                </th>
                                <th class="uk-text-center">
                                    <strong class="uk-h5 uk-text-muted">2XL</strong>
                                </th>
                                <th class="uk-text-center">
                                    <strong class="uk-h5 uk-text-muted">3XL</strong>
                                </th>
                                <th class="uk-text-center">
                                    <strong class="uk-h5 uk-text-muted">4XL</strong>
                                </th>
                                <th class="uk-text-center">
                                    <strong class="uk-h5 uk-text-muted">5XL</strong>
                                </th>
                                <th class="uk-text-center">
                                    <strong class="uk-h5 uk-text-muted">6XL</strong>
                                </th>
                            </tr>
                            </thead>
                            <tbody class="uk-text-small">
                            <tr>
                                <td>
                                    <span class="uk-text-muted">1. Chest</span>
                                </td>
                                <td class="uk-text-center">
                                    71-76
                                </td>
                                <td class="uk-text-center">
                                    76-81
                                </td>
                                <td class="uk-text-center">
                                    86-91
                                </td>
                                <td class="uk-text-center">
                                    95
                                </td>
                                <td class="uk-text-center">
                                    101-116
                                </td>
                                <td class="uk-text-center">
                                    111-116
                                </td>
                                <td class="uk-text-center">
                                    122-127
                                </td>
                                <td class="uk-text-center">
                                    132-137
                                </td>
                                <td class="uk-text-center">
                                    142-147
                                </td>
                                <td class="uk-text-center">
                                    152-157
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="uk-text-muted">2. Waist</span>
                                </td>
                                <td class="uk-text-center">
                                    51-56
                                </td>
                                <td class="uk-text-center">
                                    61-66
                                </td>
                                <td class="uk-text-center">
                                    71-76
                                </td>
                                <td class="uk-text-center">
                                    81
                                </td>
                                <td class="uk-text-center">
                                    85-91
                                </td>
                                <td class="uk-text-center">
                                    96-101
                                </td>
                                <td class="uk-text-center">
                                    106-111
                                </td>
                                <td class="uk-text-center">
                                    116-122
                                </td>
                                <td class="uk-text-center">
                                    127-132
                                </td>
                                <td class="uk-text-center">
                                    137-142
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="uk-text-muted">3. Sleeve</span>
                                </td>
                                <td class="uk-text-center">
                                    71-73
                                </td>
                                <td class="uk-text-center">
                                    76-78
                                </td>
                                <td class="uk-text-center">
                                    79-81
                                </td>
                                <td class="uk-text-center">
                                    81
                                </td>
                                <td class="uk-text-center">
                                    84-86
                                </td>
                                <td class="uk-text-center">
                                    86-89
                                </td>
                                <td class="uk-text-center">
                                    89-91
                                </td>
                                <td class="uk-text-center">
                                    91-94
                                </td>
                                <td class="uk-text-center">
                                    94-96
                                </td>
                                <td class="uk-text-center">
                                    96-99
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <p class="uk-text-center">
                        <strong class="uk-text-uppercase">Male example:</strong> If you ARE 6’ TALL (183 CM), weigh 175 lbs(80kg), chest 40’(101cm), waist 33’(84cm) we suggest size LARGE.
                        <br>
                        <strong class="uk-text-uppercase">Female example:</strong> If you ARE 5.4’ TALL (162 CM), weigh 105 lbs(48kg), chest 33’(83cm), waist 26’(66cm) we suggest size XS.
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>
