<ul class="vb-accordion--cart"
    data-uk-accordion>
    <li class="uk-open">

        <a class="uk-accordion-title uk-background-secondary"
           href="#">
            <span class="uk-margin-small-right"
                  data-uk-icon="cart"></span>
            Order Summary
        </a>

        <div class="uk-accordion-content uk-margin-remove-top">

            <!--CART REVIEW-->
            <div class="uk-background-default uk-padding">
                <fieldset class="uk-fieldset">
                    <div class="uk-flex-stretch uk-grid-small"
                         data-uk-grid>

                        <div class="uk-width-auto">
                            <img data-uk-img
                                 data-src="https://cdn.shopify.com/s/files/1/0056/1673/0182/products/Black-Wool-Black-Leather-man-1_2048x2048.jpg"
                                 alt="{{product-title}}" width="80">
                        </div>

                        <div class="uk-width-expand">
                            <h2 class="uk-h5 uk-margin-small-bottom uk-padding-remove uk-text-capitalize uk-text-bold">{{product-title}}</h2>
                            <div class="uk-text-small uk-text-warning uk-width-1-1 uk-margin-small-top uk-margin-small-bottom">This size is only available <a class="uk-text-warning uk-text-nowrap" href="#" style="border-bottom: 1px dotted" data-uk-tooltip="This item is available, but the delivery time might take up to 3 weeks.">on request</a>.
                            </div>
                            <div class="uk-text-small">
                                <span class="uk-text-muted">Size:</span>
                                <strong>XS</strong>
                                <span class="uk-text-muted">—</span>
                                <span class="uk-text-muted">Qty:</span>
                                <strong>2</strong>
                            </div>
                        </div>

                        <div class="uk-width-auto">
                            <strong class="uk-h5">$139.00</strong>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="uk-fieldset uk-margin-top">
                    <div class="uk-flex-stretch uk-grid-small"
                         data-uk-grid>

                        <div class="uk-width-auto">
                            <img data-uk-img
                                 data-src="https://cdn.shopify.com/s/files/1/0056/1673/0182/products/Black-Wool-Black-Leather-man-1_2048x2048.jpg"
                                 alt="{{product-title}}" width="80">
                        </div>

                        <div class="uk-width-expand">
                            <h2 class="uk-h5 uk-margin-small-bottom uk-padding-remove uk-text-capitalize uk-text-bold">{{product-title}}</h2>
                            <div class="uk-text-small">
                                <span class="uk-text-muted">Size:</span>
                                <strong>XS</strong>
                                <span class="uk-text-muted">—</span>
                                <span class="uk-text-muted">Qty:</span>
                                <strong>2</strong>
                            </div>
                        </div>

                        <div class="uk-width-auto">
                            <strong class="uk-h5">$139.00</strong>
                        </div>
                    </div>
                </fieldset>
            </div>
            <!--end of CART REVIEW-->

            <hr class="hr--dashed uk-margin-remove">

            <!--PROMO CODE-->
            <div class="uk-background-secondary uk-padding uk-position-relative">
                <label class="uk-display-block uk-margin uk-text-bold">Promo code or gift card number</label>
                <div class="uk-inline uk-width">
                    <a class="uk-form-icon uk-form-icon-flip"
                       href="#"
                       data-uk-icon="icon: tag"></a>
                    <input class="uk-input"
                           type="text" placeholder="Enter code">
                </div>

                <div class="uk-overlay-primary uk-position-cover"></div>
                <div class="uk-position-center vb-spinner-cart-update" data-uk-spinner></div>
            </div>
            <!--end of PROMO CODE-->

            <hr class="hr--dashed uk-margin-remove">

            <!--ORDER SUMMARY-->
            <div class="uk-background-default uk-padding">
                <div class="uk-flex uk-flex-between uk-margin-small-bottom">
                    <span class="uk-text-muted uk-overflow-hidden uk-text-nowrap vb-text-ellipsis uk-margin-small-right">Subtotal</span>
                    <strong class="uk-text-nowrap">$278.00</strong>
                </div>
                <div class="uk-flex uk-flex-between uk-margin-small-bottom">
                    <span class="uk-text-muted uk-overflow-hidden uk-text-nowrap vb-text-ellipsis uk-margin-small-right">Storewide sale</span>
                    <strong class="uk-text-nowrap">- $28.00</strong>
                </div>
                <div class="uk-flex uk-flex-between uk-margin-small-bottom">
                    <span class="uk-text-muted uk-overflow-hidden uk-text-nowrap vb-text-ellipsis uk-margin-small-right">Promo PGDF2D</span>
                    <strong class="uk-text-nowrap">- $28.00</strong>
                </div>
                <div class="uk-flex uk-flex-between uk-margin-small-bottom">
                    <span class="uk-text-muted uk-overflow-hidden uk-text-nowrap vb-text-ellipsis uk-margin-small-right">Total savings</span>
                    <strong class="uk-text-nowrap">- $128.00</strong>
                </div>
                <hr>
                <div class="uk-flex uk-flex-between uk-margin-small-bottom">
                    <span class="uk-text-muted uk-overflow-hidden uk-text-nowrap vb-text-ellipsis uk-margin-small-right">Gift card GHD-JHY-OLD</span>
                    <strong class="uk-text-nowrap">- $128.00</strong>
                </div>
                <div class="uk-flex uk-flex-between uk-margin-small-bottom">
                    <span class="uk-text-muted uk-overflow-hidden uk-text-nowrap vb-text-ellipsis uk-margin-small-right">Gift card YUI-POI-BHYGift card YUI-POI-BHYGift card YUI-POI-BHYGift card YUI-POI-BHY</span>
                    <strong class="uk-text-nowrap">- $128.00</strong>
                </div>
                <hr>
                <div class="uk-flex uk-flex-between uk-margin-small-bottom">
                    <span class="uk-text-muted uk-overflow-hidden uk-text-nowrap vb-text-ellipsis uk-margin-small-right">Shipping
                        <a class="uk-margin-small-left"
                           href="#"
                           data-uk-tooltip="FREE two-day shipping with every order! No minimum order requirement!"
                           data-uk-icon="info"></a></span>
                    <strong>Free</strong>
                </div>
                <hr>
                <div class="uk-flex uk-flex-between">
                    <strong class="uk-h4 uk-margin-remove">Total</strong>
                    <strong class="uk-h4 uk-margin-remove">$278.00</strong>
                </div>
            </div>
            <!--end of ORDER SUMMARY-->

        </div>
    </li>
</ul>
