<!--PREVIEW & IMAGE-->
<div class="uk-child-width-1-2@m uk-margin-medium-bottom"
     data-uk-grid>
    <div>
        <div class="test-wrap uk-text-center uk-position-relative uk-overflow-hidden">
            <div class="uk-position-top-left uk-flex uk-flex-center uk-flex-middle uk-flex-column uk-width-1-1 uk-height-1-1"
                id="screenshotTarget">
                <span class="text-output"
                      data-font-family
                      id="placeOneTextOutput">
                    <span class="w-outline"></span>
                    <span></span>
                </span>
                <span class="text-output"
                      data-font-family
                      id="placeOneTextOutput2">
                                <span class="w-outline"></span>
                                <span></span>
                            </span>
                <span class="text-output"
                      data-font-family
                      id="placeOneTextOutput3">
                    <span class="w-outline"></span>
                    <span></span>
                </span>
            </div>
        </div>
    </div>
    <div>
        <img id="preview"
             src=""
             alt="">
    </div>
</div>
<!--end of PREVIEW & IMAGE-->

<ul class="w-accordion uk-margin-large-bottom"
    data-uk-accordion>
    <li class="uk-open">
        <a class="uk-accordion-title uk-text-secondary"
           href="#">First row</a>
        <div class="uk-accordion-content">
            <!--TEXT INPUT-->
            <div class="uk-margin">
                <input class="uk-input w-input textInput"
                       data-target="placeOneTextOutput"
                       maxlength="24"
                       type="text"
                       placeholder="Enter text...">
            </div>
            <!--end of TEXT INPUT-->

            <!--FONT STYLE-->
            <div class="uk-margin">
                <div class="uk-width-1-2@m">
                    <div class="uk-child-width-1-5@l uk-child-width-1-4 uk-grid-small"
                         data-uk-grid>

                        {{#each w-personalization-text.font-style}}
                        <div>
                            <label class="w-radio-img uk-position-relative"
                                   for="placeOneText{{id}}">
                                <input class="uk-radio updateFontStyle"
                                       data-target="placeOneTextOutput"
                                       value="{{value}}"
                                       id="placeOneText{{id}}"
                                       type="radio"
                                       name="placeOneTextFontStyle"
                                       required>
                                <span class="w-radio-img__thumb uk-display-block">
                                                <img data-src="{{src}}"
                                                     data-uk-img
                                                     alt="{{alt}}">
                                            </span>
                            </label>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
            <!--end of FONT STYLE-->

            <!--BASE COLOR-->
            <div class="uk-margin-small-bottom">
                            <span class="uk-flex uk-flex-middle"
                                  id="placeOneTextFontColor"
                                  data-uk-toggle="target: #placeOneTextFontColorPalette; animation: uk-animation-fade">
                                <span class="w-color-label uk-position-relative">

                                    <!--No color icon-->
                                    <span class="uk-position-center"
                                          data-uk-icon="close"></span>
                                    <!--/no color icon-->

                                    <!--Validation icon-->
                                    <span style="display: none"
                                          class="w-validation-icon uk-position-center uk-text-warning"
                                          data-uk-icon="warning"></span>
                                    <!--/validation icon-->
                                </span>
                                <span class="uk-display-block uk-text-center w-label">Base color <span
                                    class="w-value-label"></span></span>
                            </span>

                <div class="w-color-palette uk-flex uk-flex-wrap uk-margin-top uk-margin-bottom uk-grid-small"
                     id="placeOneTextFontColorPalette"
                     hidden
                     data-uk-grid>

                    {{#each w-personalization-text.font-color}}
                    <div class="uk-width-1-6@m uk-width-1-5">
                        <label class="w-radio-color uk-position-relative uk-flex uk-flex-middle"
                               data-uk-tooltip="title: {{tooltip}}; pos: top-center"
                               for="placeOneText{id}}">
                            <input class="uk-radio updateFontColor updateLabel"
                                   style="background-color: {{hex}}"
                                   data-hex="{{hex}}"
                                   data-target="placeOneTextOutput"
                                   id="placeOneText{{id}}"
                                   type="radio"
                                   name="placeOneTextFontColor"
                                   value="{{tooltip}}"
                                   required>
                        </label>
                    </div>
                    {{/each}}

                </div>
            </div>
            <!--end of BASE COLOR-->

            <!--OUTLINE COLOR-->
            <div class="uk-margin-bottom">
                            <span class="uk-flex uk-flex-middle"
                                  id="placeOneTextOutlineColor"
                                  data-uk-toggle="target: #placeOneTextOutlineColorPalette; animation: uk-animation-fade">
                                <span class="w-color-label uk-position-relative">

                                    <!--No color icon-->
                                    <span class="uk-position-center"
                                          data-uk-icon="close"></span>
                                    <!--/no color icon-->

                                    <!--Validation icon-->
                                    <span style="display: none"
                                          class="w-validation-icon uk-position-center uk-text-warning"
                                          data-uk-icon="warning"></span>
                                    <!--/validation icon-->
                                </span>
                                <span class="uk-display-block uk-text-center w-label">Outline color (optional) <span
                                    class="w-value-label"></span></span>
                            </span>

                <div class="w-color-palette uk-flex uk-flex-wrap uk-margin-top uk-grid-small"
                     id="placeOneTextOutlineColorPalette"
                     hidden
                     data-uk-grid>

                    {{#each w-personalization-text.font-outline-color}}
                    <div class="uk-width-1-6@m uk-width-1-5">
                        <label class="w-radio-color uk-position-relative uk-flex uk-flex-middle"
                               data-uk-tooltip="title: {{tooltip}}; pos: top-center"
                               for="placeOneText{{id}}">
                            <input class="uk-radio updateLabel updateFontOutline"
                                   style="background-color: {{hex}}"
                                   data-hex="{{hex}}"
                                   data-target="placeOneTextOutput"
                                   id="placeOneText{{id}}"
                                   type="radio"
                                   name="placeOneTextOutlineColor"
                                   value="{{tooltip}}"
                                   required>
                        </label>
                    </div>
                    {{/each}}

                </div>
            </div>
            <!--end of OUTLINE COLOR-->
        </div>
    </li>
    <li>
        <a class="uk-accordion-title uk-text-secondary"
           href="#">Second row</a>
        <div class="uk-accordion-content">
            <!--TEXT INPUT-->
            <div class="uk-margin">
                <input class="uk-input w-input textInput"
                       data-target="placeOneTextOutput2"
                       maxlength="24"
                       type="text"
                       placeholder="Enter text...">
            </div>
            <!--end of TEXT INPUT-->

            <!--FONT STYLE-->
            <div class="uk-margin">
                <div class="uk-width-1-2@m">
                    <div class="uk-child-width-1-5@l uk-child-width-1-4 uk-grid-small"
                         data-uk-grid>

                        {{#each w-personalization-text.font-style}}
                        <div>
                            <label class="w-radio-img uk-position-relative"
                                   for="placeOneText{{id}}2">
                                <input class="uk-radio updateFontStyle"
                                       data-target="placeOneTextOutput2"
                                       value="{{value}}"
                                       id="placeOneText{{id}}2"
                                       type="radio"
                                       name="placeOneTextFontStyle2"
                                       required>
                                <span class="w-radio-img__thumb uk-display-block">
                                                <img data-src="{{src}}"
                                                     data-uk-img
                                                     alt="{{alt}}">
                                            </span>
                            </label>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
            <!--end of FONT STYLE-->

            <!--BASE COLOR-->
            <div class="uk-margin-small-bottom">
                            <span class="uk-flex uk-flex-middle"
                                  id="placeOneTextFontColor2"
                                  data-uk-toggle="target: #placeOneTextFontColorPalette2; animation: uk-animation-fade">
                                <span class="w-color-label uk-position-relative">

                                    <!--No color icon-->
                                    <span class="uk-position-center"
                                          data-uk-icon="close"></span>
                                    <!--/no color icon-->

                                    <!--Validation icon-->
                                    <span style="display: none"
                                          class="w-validation-icon uk-position-center uk-text-warning"
                                          data-uk-icon="warning"></span>
                                    <!--/validation icon-->
                                </span>
                                <span class="uk-display-block uk-text-center w-label">Base color <span
                                    class="w-value-label"></span></span>
                            </span>

                <div class="w-color-palette uk-flex uk-flex-wrap uk-margin-top uk-margin-bottom uk-grid-small"
                     id="placeOneTextFontColorPalette2"
                     hidden
                     data-uk-grid>

                    {{#each w-personalization-text.font-color}}
                    <div class="uk-width-1-6@m uk-width-1-5">
                        <label class="w-radio-color uk-position-relative uk-flex uk-flex-middle"
                               data-uk-tooltip="title: {{tooltip}}; pos: top-center"
                               for="placeOneText{id}}2">
                            <input class="uk-radio updateFontColor updateLabel"
                                   style="background-color: {{hex}}"
                                   data-hex="{{hex}}"
                                   data-target="placeOneTextOutput2"
                                   id="placeOneText{{id}}2"
                                   type="radio"
                                   name="placeOneTextFontColor2"
                                   value="{{tooltip}}"
                                   required>
                        </label>
                    </div>
                    {{/each}}

                </div>
            </div>
            <!--end of BASE COLOR-->

            <!--OUTLINE COLOR-->
            <div class="uk-margin-bottom">
                <span class="uk-flex uk-flex-middle"
                      id="placeOneTextOutlineColor2"
                      data-uk-toggle="target: #placeOneTextOutlineColorPalette2; animation: uk-animation-fade">
                    <span class="w-color-label uk-position-relative">

                        <!--No color icon-->
                        <span class="uk-position-center"
                              data-uk-icon="close"></span>
                        <!--/no color icon-->

                        <!--Validation icon-->
                        <span style="display: none"
                              class="w-validation-icon uk-position-center uk-text-warning"
                              data-uk-icon="warning"></span>
                        <!--/validation icon-->
                    </span>
                    <span class="uk-display-block uk-text-center w-label">Outline color (optional) <span
                        class="w-value-label"></span></span>
                </span>

                <div class="w-color-palette uk-flex uk-flex-wrap uk-margin-top uk-grid-small"
                     id="placeOneTextOutlineColorPalette2"
                     hidden
                     data-uk-grid>

                    {{#each w-personalization-text.font-outline-color}}
                    <div class="uk-width-1-6@m uk-width-1-5">
                        <label class="w-radio-color uk-position-relative uk-flex uk-flex-middle"
                               data-uk-tooltip="title: {{tooltip}}; pos: top-center"
                               for="placeOneText{{id}}2">
                            <input class="uk-radio updateLabel updateFontOutline"
                                   style="background-color: {{hex}}"
                                   data-hex="{{hex}}"
                                   data-target="placeOneTextOutput2"
                                   id="placeOneText{{id}}2"
                                   type="radio"
                                   name="placeOneTextOutlineColor2"
                                   value="{{tooltip}}"
                                   required>
                        </label>
                    </div>
                    {{/each}}

                </div>
            </div>
            <!--end of OUTLINE COLOR-->
        </div>
    </li>
    <li>
        <a class="uk-accordion-title uk-text-secondary"
           href="#">Third row</a>
        <div class="uk-accordion-content">
            <!--TEXT INPUT-->
            <div class="uk-margin">
                <input class="uk-input w-input textInput"
                       data-target="placeOneTextOutput3"
                       maxlength="24"
                       type="text"
                       placeholder="Enter text...">
            </div>
            <!--end of TEXT INPUT-->

            <!--FONT STYLE-->
            <div class="uk-margin">
                <div class="uk-width-1-2@m">
                    <div class="uk-child-width-1-5@l uk-child-width-1-4 uk-grid-small"
                         data-uk-grid>

                        {{#each w-personalization-text.font-style}}
                        <div>
                            <label class="w-radio-img uk-position-relative"
                                   for="placeOneText{{id}}3">
                                <input class="uk-radio updateFontStyle"
                                       data-target="placeOneTextOutput3"
                                       value="{{value}}"
                                       id="placeOneText{{id}}3"
                                       type="radio"
                                       name="placeOneTextFontStyle3"
                                       required>
                                <span class="w-radio-img__thumb uk-display-block">
                                                <img data-src="{{src}}"
                                                     data-uk-img
                                                     alt="{{alt}}">
                                            </span>
                            </label>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
            <!--end of FONT STYLE-->

            <!--BASE COLOR-->
            <div class="uk-margin-small-bottom">
                <span class="uk-flex uk-flex-middle"
                      id="placeOneTextFontColor3"
                      data-uk-toggle="target: #placeOneTextFontColorPalette3; animation: uk-animation-fade">
                    <span class="w-color-label uk-position-relative">

                        <!--No color icon-->
                        <span class="uk-position-center"
                              data-uk-icon="close"></span>
                        <!--/no color icon-->

                        <!--Validation icon-->
                        <span style="display: none"
                              class="w-validation-icon uk-position-center uk-text-warning"
                              data-uk-icon="warning"></span>
                        <!--/validation icon-->
                    </span>
                    <span class="uk-display-block uk-text-center w-label">Base color <span
                        class="w-value-label"></span></span>
                </span>

                <div class="w-color-palette uk-flex uk-flex-wrap uk-margin-top uk-margin-bottom uk-grid-small"
                     id="placeOneTextFontColorPalette3"
                     hidden
                     data-uk-grid>

                    {{#each w-personalization-text.font-color}}
                    <div class="uk-width-1-6@m uk-width-1-5">
                        <label class="w-radio-color uk-position-relative uk-flex uk-flex-middle"
                               data-uk-tooltip="title: {{tooltip}}; pos: top-center"
                               for="placeOneText{id}}3">
                            <input class="uk-radio updateFontColor updateLabel"
                                   style="background-color: {{hex}}"
                                   data-hex="{{hex}}"
                                   data-target="placeOneTextOutput3"
                                   id="placeOneText{{id}}3"
                                   type="radio"
                                   name="placeOneTextFontColor3"
                                   value="{{tooltip}}"
                                   required>
                        </label>
                    </div>
                    {{/each}}

                </div>
            </div>
            <!--end of BASE COLOR-->

            <!--OUTLINE COLOR-->
            <div class="uk-margin-bottom">
                            <span class="uk-flex uk-flex-middle"
                                  id="placeOneTextOutlineColor3"
                                  data-uk-toggle="target: #placeOneTextOutlineColorPalette3; animation: uk-animation-fade">
                                <span class="w-color-label uk-position-relative">

                                    <!--No color icon-->
                                    <span class="uk-position-center"
                                          data-uk-icon="close"></span>
                                    <!--/no color icon-->

                                    <!--Validation icon-->
                                    <span style="display: none"
                                          class="w-validation-icon uk-position-center uk-text-warning"
                                          data-uk-icon="warning"></span>
                                    <!--/validation icon-->
                                </span>
                                <span class="uk-display-block uk-text-center w-label">Outline color (optional) <span
                                    class="w-value-label"></span></span>
                            </span>

                <div class="w-color-palette uk-flex uk-flex-wrap uk-margin-top uk-grid-small"
                     id="placeOneTextOutlineColorPalette3"
                     hidden
                     data-uk-grid>

                    {{#each w-personalization-text.font-outline-color}}
                    <div class="uk-width-1-6@m uk-width-1-5">
                        <label class="w-radio-color uk-position-relative uk-flex uk-flex-middle"
                               data-uk-tooltip="title: {{tooltip}}; pos: top-center"
                               for="placeOneText{{id}}2">
                            <input class="uk-radio updateLabel updateFontOutline"
                                   style="background-color: {{hex}}"
                                   data-hex="{{hex}}"
                                   data-target="placeOneTextOutput3"
                                   id="placeOneText{{id}}3"
                                   type="radio"
                                   name="placeOneTextOutlineColor3"
                                   value="{{tooltip}}"
                                   required>
                        </label>
                    </div>
                    {{/each}}

                </div>
            </div>
            <!--end of OUTLINE COLOR-->
        </div>
    </li>
</ul>

<!--<div>-->
<!--    <label class="w-checkbox uk-flex uk-flex-middle">-->
<!--        <input class="uk-checkbox"-->
<!--               id="addOutline"-->
<!--               type="checkbox"> <span class="uk-text-small uk-text-bold">Add outline</span></label>-->
<!--</div>-->

<button class="uk-button uk-width uk-button-secondary uk-margin-medium-bottom buttonGenerate"
        data-target="screenshotTarget"
        data-preview="preview"
        type="button">Generate
</button>
