@font-face {
  font-family: 'Athletico';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/athletico.woff2') format('woff2'),
        url('../fonts/athletico.woff') format('woff');
}

@font-face {
  font-family: 'Evanston';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/evanston.woff2') format('woff2'),
  url('../fonts/evanston.woff') format('woff');
}

@font-face {
  font-family: 'Hudson';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/hudson.woff2') format('woff2'),
  url('../fonts/hudson.woff') format('woff');
}

@font-face {
  font-family: 'Old English';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/old_english.woff2') format('woff2'),
  url('../fonts/old_english.woff') format('woff');
}

@font-face {
  font-family: 'Saloon';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/saloon.woff2') format('woff2'),
  url('../fonts/saloon.woff') format('woff');
}

@font-face {
  font-family: 'Stash';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/stash.woff2') format('woff2'),
  url('../fonts/stash.woff') format('woff');
}

@font-face {
  font-family: 'Veneer';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/veneer.woff2') format('woff2'),
  url('../fonts/veneer.woff') format('woff');
}
