<div class="uk-position-fixed uk-position-top-right uk-margin-small-top uk-margin-small-right">
    <button class="uk-button uk-button-default uk-button-small w-button-default uk-padding-remove"
            type="button">
        <span>Close</span>
        <span data-uk-icon="close"></span>
    </button>
</div>

<div class="uk-position-fixed uk-position-top-left uk-margin-small-top uk-margin-small-left">
    <button class="uk-button uk-button-default uk-button-small w-button-default uk-padding-remove uk-hidden@m"
            type="button">
        <span data-uk-icon="icon: history"></span>
        <span class="vb-font-family-global">Reset Jacket</span>
    </button>
</div>

<!--<ul class="uk-position-center-right uk-position-fixed uk-flex uk-flex-column uk-list uk-margin-remove w-share"-->
<!--    style="z-index: 4">-->
<!--    <li class="uk-margin-remove">-->
<!--        <button class="uk-icon-button uk-text-secondary"-->
<!--                data-uk-icon="social"-->
<!--                type="button"></button>-->
<!--    </li>-->
<!--    <li class="uk-margin-remove">-->
<!--        <button class="uk-icon-button uk-text-secondary"-->
<!--                data-uk-icon="download"-->
<!--                type="button"></button>-->
<!--    </li>-->
<!--</ul>-->

