<div class="uk-position-relative uk-visible-toggle vb-slideshow--product"
     tabindex="-1"
     data-uk-slideshow="ratio: 1:1; animation: push; max-height: 960">

    <ul class="uk-slideshow-items"
        data-uk-lightbox>
        <li>
            <a href="assets/img/jackets/Black-Wool-&-Black-Leather-1-960-min.jpg"
               data-caption="{{product-title}}">
                <img data-src="assets/img/jackets/Black-Wool-&-Black-Leather-1-960-min.jpg"
                     data-uk-img
                     alt="{{product-title}}">
            </a>
        </li>
        <li>
            <a href="assets/img/jackets/Black-Wool-&-Black-Leather-2-960-min.jpg"
               data-caption="{{product-title}}">
                <img data-src="assets/img/jackets/Black-Wool-&-Black-Leather-2-960-min.jpg"
                     data-uk-img
                     alt="{{product-title}}">
            </a>
        </li>
        <li>
            <a href="assets/img/jackets/Black-Wool-&-Black-Leather-3-960-min.jpg"
               data-caption="{{product-title}}">
                <img data-src="assets/img/jackets/Black-Wool-&-Black-Leather-3-960-min.jpg"
                     data-uk-img
                     alt="{{product-title}}">
            </a>
        </li>
        <li>
            <a href="assets/img/jackets/Black-Wool-&-Black-Leather-4-960-min.jpg"
               data-caption="{{product-title}}">
                <img data-src="assets/img/jackets/Black-Wool-&-Black-Leather-4-960-min.jpg"
                     data-uk-img
                     alt="{{product-title}}">
            </a>
        </li>
        <li>
            <a href="assets/img/jackets/Black-Wool-&-Black-Leather-5-960-min.jpg"
               data-caption="{{product-title}}">
                <img data-src="assets/img/jackets/Black-Wool-&-Black-Leather-5-960-min.jpg"
                     data-uk-img
                     alt="{{product-title}}">
            </a>
        </li>
    </ul>

    <ul class="uk-thumbnav uk-padding uk-flex-nowrap uk-overflow-auto uk-flex-left uk-flex-center@s vb-thumbnav">
        <li data-uk-slideshow-item="0">
            <a href="#">
                <img data-src="assets/img/jackets/Black-Wool-&-Black-Leather-1-960-min.jpg"
                     data-uk-img
                     width="60"
                     alt="{{product-title}}">
            </a>
        </li>
        <li data-uk-slideshow-item="1">
            <a href="#">
                <img data-src="assets/img/jackets/Black-Wool-&-Black-Leather-2-960-min.jpg"
                     data-uk-img
                     width="60"
                     alt="{{product-title}}">
            </a>
        </li>
        <li data-uk-slideshow-item="2">
            <a href="#">
                <img data-src="assets/img/jackets/Black-Wool-&-Black-Leather-3-960-min.jpg"
                     data-uk-img
                     width="60"
                     alt="{{product-title}}">
            </a>
        </li>
        <li data-uk-slideshow-item="3">
            <a href="#">
                <img data-src="assets/img/jackets/Black-Wool-&-Black-Leather-4-960-min.jpg"
                     data-uk-img
                     width="60"
                     alt="{{product-title}}">
            </a>
        </li>
        <li data-uk-slideshow-item="4">
            <a href="#">
                <img data-src="assets/img/jackets/Black-Wool-&-Black-Leather-5-960-min.jpg"
                     data-uk-img
                     width="60"
                     alt="{{product-title}}">
            </a>
        </li>
    </ul>

    <a class="uk-position-center-left uk-position-small uk-hidden-hover"
       href="#"
       data-uk-slidenav-previous
       data-uk-slideshow-item="previous"></a>
    <a class="uk-position-center-right uk-position-small uk-hidden-hover"
       href="#"
       data-uk-slidenav-next
       data-uk-slideshow-item="next"></a>

</div>
