<div class="uk-grid-small vb-banners"
     data-uk-grid>
    <div class="uk-width">
        <div class="uk-cover-container uk-background-default uk-box-shadow-large vb-banners__big">
            <img class="uk-hidden@m"
                 data-src="assets/img/uploads/delivery-man@1.5x-min.jpg"
                 alt="NicKey Stringz Special"
                 data-uk-img>
            <img class="uk-visible@m"
                 src="assets/img/uploads/free-shipping-banner@1.5x-min.jpg"
                 alt="NicKey Stringz Special"
                 data-uk-cover>
            <div class="uk-text-center@m uk-position-relative uk-padding-large uk-width-1-2@l uk-margin-auto-left uk-margin-auto-right    ">
                <h5 class="uk-h1 uk-margin-small-top">Free Shipping On All Orders!</h5>
                <p class="uk-margin-medium-bottom uk-margin-auto-left uk-margin-auto-right">Check out our in stock and ready to ship letterman jackets.</p>
                <a href="#" class="uk-button uk-button-secondary uk-flex-inline uk-flex-center uk-margin-small-bottom">Shop Now</a>
            </div>
        </div>
    </div>
    <div class="uk-width-1-2@m">
        <div class="uk-cover-container uk-background-default uk-box-shadow-large uk-height-1-1">
            <img class="uk-hidden@m"
                 data-src="assets/img/uploads/School-Jackets@1.5x-min.jpg"
                 alt="Free Shipping On All Orders"
                 data-uk-img>
            <img class="uk-visible@m"
                 src="assets/img/uploads/School-Jackets@1.5x-min.jpg"
                 alt="NicKey Stringz Special"
                 data-uk-cover>
            <div class="uk-position-relative uk-padding-large">
                <h5 class="uk-h1 uk-margin-small-top">School Jackets</h5>
                <p class="uk-margin-medium-bottom uk-margin-auto-left uk-margin-auto-right">Looking for a particular jacket? You're in luck! We have jackets for thousands of schools!</p>
                <a href="#" class="uk-button uk-button-secondary uk-flex-inline uk-flex-center uk-margin-small-bottom">Find Your School</a>
            </div>
        </div>
    </div>
    <div class="uk-width-1-2@m">
        <div class="uk-cover-container uk-background-default uk-box-shadow-large uk-height-1-1">
            <img class="uk-hidden@m"
                 data-src="assets/img/uploads/Club-Jackets@1.5x-min.jpg"
                 alt="Club Jackets"
                 data-uk-img>
            <img class="uk-visible@m"
                 src="assets/img/uploads/Club-Jackets@1.5x-min.jpg"
                 alt="NicKey Stringz Special"
                 data-uk-cover>
            <div class="uk-position-relative uk-padding-large">
                <h5 class="uk-h1 uk-margin-small-top">Club Jackets</h5>
                <p class="uk-margin-medium-bottom uk-margin-auto-left uk-margin-auto-right">Weather you are a high school football team, hobby team, a band, or a company who wants to deck out their employees in high quality branded letterman jackets, we got you covered!</p>
                <a href="#" class="uk-button uk-button-secondary uk-flex-inline uk-flex-center uk-margin-small-bottom">Shop Now</a>
            </div>
        </div>
    </div>
</div>
